<div class="container-fluid" style="margin-top: -2rem">
    <div class="row p-0">
        <div class="col-12 p-0">
            <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center" style="background:url('{{ page.hero_image }}'); background-size: cover; background-position: center;">
                <h1 class="display-4" style="color:white;">{{ page.title }}</h1>
                <p class="lead" style="color:white;">{{ page.subtitle }}</p>
                <p class="lead">
                    <a class="btn btn-primary" href="{{ page.hero_link | relative_url }}" role="button">{{ page.hero_link_text }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
