---
---

$vert: rgb(146, 159, 133);

$fusion: rgb(54, 102, 106);
$bleu: rgb(94, 142, 142);
$oslo: rgb(72, 91, 97);

$primary: $fusion;
$link: $bleu;
$body-color: $oslo;

@import "main";

// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html {
    font-size: 18px;
}

body {
    color: $body-color;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-family: 'Cutive Mono', monospace;
}

h2 {
    color: $bleu;
}

img {
    max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.alert-dark {
    background: $bleu;
    text-align: center;
    margin: 0;
    h2 {
        color:#fff;
    }
    color: #fff;
}

.card-header {
    button {
        font-size: 1.5rem; 
    }
}

.btn-primary {
    color: #fff;
}
