---
---

$vert: rgb(146, 159, 133);
$vertf: rgb(96, 102, 85);

$fusion: rgb(54, 102, 106);
$bleu: rgb(94, 142, 142);
$oslo: rgb(72, 91, 97);

$primary: $vert;
$link: $vert;
$body-color: $vertf;

@import "main";

// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html {
    font-size: 18px;
}

body {
    color: $body-color;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 1rem;
}

h2 {
    color: $vert;
}

img {
    max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.alert-dark {
    background: #5a6b7b;
    text-align: center;
    margin: 0;
    border-radius: 0;
    h2 {
        color:#fff;
    }
    color: #fff;
    p {
        margin-bottom: 1rem;
    }
}

.card-header {
    button {
        font-size: 1.5rem; 
    }
}

.btn-primary {
    color: #fff;
}

.table {
    width: initial;
}

.accordion .fa{
    margin-right: 0.5rem;
}

p {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.jumbotron {
    border-radius:0;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px;
}
