---
---

$primary: rgb(146, 159, 153);
$body-color: rgb(26, 26, 26);
$subtitle-color: rgb(26, 26, 26);
$orange: rgb(247, 148, 45);
$link: $orange;
// Import Main CSS file from theme
@import "main";

.content table {
    width: inherit;
}

@font-face {
    font-family: 'Lust Slim';
    src: url('LustSlim-Regular.eot');
    src: url('LustSlim-Regular.eot?#iefix') format('embedded-opentype'),
        url('LustSlim-Regular.woff2') format('woff2'),
        url('LustSlim-Regular.woff') format('woff'),
        url('LustSlim-Regular.ttf') format('truetype'),
        url('LustSlim-Regular.svg#LustSlim-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.content h1 {
    font-size: 3rem;
    font-family: 'Lust Slim', serif;
}

.content h2 {
    font-size: 2rem;
    font-family: 'Lust Slim', serif;
}
