---
layout: default
---

<h1>{{ page.title }}</h1>

<img src="{{ page.image }}" style="float: right; padding: 0 2rem; width: 600px; top: 5px; position: relative;">

{{ page.intro }}
<br>
<h2>En savoir plus</h2>
<div class="accordion" id="accordionExample">
{% assign list_herbo = site.herboristerie | sort:"position" %}
{% for herbo in list_herbo %}
  <div class="card">
    <div class="card-header" id="heading{{ herbo.title | slugify }}">
      <h3 class="m-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ herbo.title | slugify }}" aria-expanded="true" aria-controls="collapse{{ herbo.title | slugify }}">
          <i class="fa fa-chevron-down"></i> {{ herbo.title }}
        </button>
      </h3>
    </div>
    <div id="collapse{{ herbo.title | slugify }}" class="collapse" aria-labelledby="heading{{ herbo.title | slugify }}" data-parent="#accordionExample">
      <div class="card-body">
        {{ herbo.content }}
      </div>
    </div>
  </div>
{% endfor %}
</div>


{{ content }}
