---
layout: default
---

<h1>{{ page.title }}</h1>

<img src="{{ page.image }}" style="float: right; padding-left: 2rem; width: 600px;">

{{ page.intro }}

<nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
{% assign liste_herbo = site.herboristerie | sort:"position" %}
{% for herboristerie in liste_herbo %}
    <a class="nav-link" data-toggle="tab" href="#{{ herboristerie.title | slugify }}" role="tab" aria-controls="#{{ herboristerie.title | slugify }}" aria-selected="true"><h2>{{ herboristerie.title }}</h2></a>
{% endfor %}
</div>
</nav>

<div class="tab-content" id="nav-tabContent">
{% for herboristerie in liste_herbo %}
<div class="tab-pane fade" id="{{ herboristerie.title | slugify }}" role="tabpanel" aria-labelledby="{{ herboristerie.title | slugify }}-tab">
  {{ herboristerie.content }}
</div>
{% endfor %}
</div>


{{ content }}
