---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>Horaire</h2>
<div class="row align-items-center justify-content-md-center">
  <div class="col-sm">
    <img src="{{ page.premiere_image }}">
  </div>
  <div class="col-sm-5">
    {{ page.contact }}
    
    {{ page.map }}
  </div>
</div>

{{ content }}

<div class="row align-items-center justify-content-md-center">
  <div class="col-sm-5 order-md-12">
    <img src="{{ page.deuxieme_image }}">
  </div>
  <div class="col-sm-5 order-md-1"> 
    <div style="text-align:center">
      {{ page.masso }}
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-md-center"> 
  <div class="col-sm-5">
    <img src="{{ page.troisieme_image }}">
  </div>
  <div class="col-sm-5">
    <div style="text-align:center">
      {{ page.herbo }}
    </div>
  </div>
</div>

{{ page.details | markdownify }}
