---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="row align-items-center justify-content-md-center">
  <div class="col-sm-4 mr-4">
    <img src="{{ page.image }}">
  </div>
  <div class="col-sm-4">
    {{ page.contact | markdownify }}
    
    {{ page.map }}
  </div>
</div>
<br>
{{ page.politique | markdownify }}
<p>&nbsp;</p>
<div class="row align-items-center justify-content-md-center">
  <div class="col-sm-4 order-md-12">
    <img src="{{ page.mesures_image }}">
  </div>
  <div class="col-sm-6 order-md-1">
    {{ page.mesures | markdownify }}
  </div>
</div>
